html,
body {
  height: 100%;
  margin: 0 5%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}


#layout {
  background-color: white;
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}


nav{
  display: flex;
  gap: 57px;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  margin: 0 5%;
}

footer {
  background-color: black;
  text-align: center;
  padding: 0px 0px 16px 0px;
}

footer img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}


a {
  font-weight: 500;
  font-size: 25px;
  color: black;
  text-decoration: inherit;
  border-bottom: solid 1px transparent;
}

a:hover {
  color: black;
  border-bottom: solid 1px black;
}

.footer_img_mobile {
  display: none;
}

@media (max-width: 768px){
  nav {
    gap: 30px;
  }

  nav a {
    text-transform: uppercase;
    font-size: 20px;
  }

  .logo {
    width: 30%;
  }

 
  .footer_img_desktop {
    display: none;
  }

  .footer_img_mobile {
    display: block;
  }
}
