@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

main .mainNotfound{
    width: 100%;
    min-height: 60vh;
}

.notfound{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 250px;
    color: #ff6060;
    margin: auto;
    
}

.oups {
    font-size: 20px;
    color: #ff6060;
    margin-top: 0;
    margin-bottom: 70px;
}


.mainNotfound a{
    font-size: 20px;
}

@media (max-width: 768px) {
    .notfound {
        width: 80%;
        font-size: 130px;
    }

    .oups {
        width: 50%;
        margin: auto;
        padding-bottom: 15%;
        padding-top: 10%;
    }
}