
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.home-banner{
  width: 100%;
}



.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 2rem;
  width: 90%;
  max-width: 1240px;
  margin-bottom: 3rem;
}

.loading,
.error {
  text-align: center;
  margin-top: 2rem;
  color: #ff6060;
}


@media (max-width: 768px) {
    
  .cards-container {
    width: 100%;
  }
    
}