.collapse {
  position: relative;
  width: 95%;
  max-width: 1023px;
  margin: 2rem auto;
  background-color: #f6f6f6;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;

}

.collapse-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}

.collapse-header h2 {
  margin: 0;
  font-size: 18px;
  flex: 1;
  text-align: left;
}

.collapse-header .collapse-icon {
  font-size: 1.5rem;
  transition: transform 0.5s ease;
}

.collapse-header .collapse-icon.open {
  transform: rotate(-180deg);
  
}

.collapse-icon {
  transition: transform 0.3s ease;
} 

.collapse-content {
  color: black;
  background-color: #f6f6f6;
  border-radius: 0 0 10px 10px;
  transition: max-height 0.3s ease, padding 0.3s ease;
  text-align: left;
  overflow: hidden;
  padding: 0 1rem;
  max-height: 0; 
}

.collapse-content.open {
  padding: 1rem;
  margin: 5px 0px 5px; 
  max-height: 500px;
}

.collapse-content p {
  margin: 0.25rem 0;
  
}


@keyframes openCollapse {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .collapse {
    width: 100%;
  }

  
}