

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-collapses{
  width: 90%;
  max-width: 1240px;
}

@media (max-width: 768px) {
  
    .about .banner-img {
    height: 111px;
  }

  .about-collapses {
    width: 100%;
  }
  
}
